
# ================================================================================================ #
# ==  ignore dirtorys                                                                           == #
# ================================================================================================ #
# [ ignore dirtorys ] {{{

./prj/cmake

# }}} ![ ignore dirtorys ]
# ================================================================================================ #

# ================================================================================================ #
# ==  ignore files                                                                              == #
# ================================================================================================ #
# [ ignore files ] {{{

+output
+Examplet_w1.txt
+*.swo
+*.swp
+*.bak

# }}} ![ ignore files ]
# ================================================================================================ #
