
# ================================================================================================ #
# ==  ignore dirtorys                                                                           == #
# ================================================================================================ #
# [ ignore dirtorys ] {{{



# }}} ![ ignore dirtorys ]
# ================================================================================================ #

# ================================================================================================ #
# ==  ignore files                                                                              == #
# ================================================================================================ #
# [ ignore files ] {{{

+output
+Examplet_w1.txt

# }}} ![ ignore files ]
# ================================================================================================ #
