
# ================================================================================================ #
# ==  ignore dirtorys                                                                           == #
# ================================================================================================ #
# [ ignore dirtorys ] {{{

/prj/cmake
/bin
/lib

# }}} ![ ignore dirtorys ]
# ================================================================================================ #

# ================================================================================================ #
# ==  ignore files                                                                              == #
# ================================================================================================ #
# [ ignore files ] {{{

*.swo
*.swp
*.bak

# }}} ![ ignore files ]
# ================================================================================================ #
